.Logon-container{
	background: #333333;
	position: relative;
	width: 100vw;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
}

.login {}

.logo-img {
	width: 330px;
	margin-top: 70%;
}

@media (max-width: 995px) {
	.logo-img {
		width: 200px;
		margin-top: 0;
	}
}


.vector-img {
	width: 690px;
}

.back-col1 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.back-col2 {}

.img2 {
	margin-top: 50px;
}

.login-form {
	left: 30px;
}

.form-container {
	/* right: -165px; */
	right: -9%;
	position: fixed;
	/* margin-top: 50px; */
	margin-top: 4%;
	background: url('../../assets/Vector.svg') no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	/* width: 753px; */
	width: 44.193rem;
	/* height: 620px; */
	height: 36.395rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 995px) {
	.form-container{
		margin-top: 20%;
		position: absolute;
		margin-right: -90%;
	}
}

.form-box {
	margin-left: -100px;
	margin-right: 30px;
	background: white;
	width: 411px;
	height: 350px;
	min-width: auto;
	border-radius: 30px;
	padding: 20px;
}


.login-container {}

.form-inputs {
	width: 100%;
	margin-top: 10%;
}

.input-group {
	background: #F2F2F2;
	height: 50px;
}

.form-inputs .ant-btn-primary {
	background: #219653;
	width: auto;
	height: 60px;
}

.form-inputs .ant-btn>span {
	font-weight: bold;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
}

.form-inputs .ant-form label {
	font-size: 18px;
	line-height: 22px;
}
